beautifulsoup4
diffusers
discord.py
Flask
huggingface-hub
ipykernel
ipython
ipywidgets
ipympl
Janome
japanize-matplotlib
jedi
Jinja2
jupyter
jupyterlab
matplotlib
matplotlib-inline
notebook
lightgbm
nest-asyncio
networkx
numpy
openai
opencv-python
openpyxl
pandas==1.5.3
plotly
prompt-toolkit
pycaret
regex
requests
scipy
seaborn
scikit-learn
tokenizers
toolz
torch
tqdm
transformers
urllib3
wheel
wordcloud
xgboost